@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $color-blanco-gris;
  font-family: "Roboto", sans-serif;
  text-align: left;
}
main {
  color: $color-negro;
  padding: 60px 180px 60px 180px;
}
nav {
  background-color: $color-negro;
  color: $color-blanco;
  display: flex;
  justify-content: center;
  height: 70px;
}
header {
  background-color: $color-amarillo;
  color: $color-negro;
  display: flex;
  justify-content: center;
  height: 70px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}
article {
  margin-bottom: 80px;
}
footer {
  color: $color-blanco;
  background-color: $color-gris;
  text-align: center;
  height: 160px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 15px;
  padding: 0px 0px 25px 0px;
}
p {
  padding: 20px 0px 30px 0px;
  font-size: 23px;
}
a:visited {
  color: $color-negro;
}
a:hover {
  color: $color-amarillo;
  background-color: $color-negro;
}

.grid {
  display: grid;
  grid-row-gap: 250px;
  grid-column-gap: 310px;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 0px;
}
.article-big {
  width: 950px;
}
.div-amarillo {
  margin-top: 80px;
  background-color: $color-amarillo;
  width: 300px;
  height: 80px;
  display: flex;
  justify-content: center;
}
.div-negro {
  background-color: $color-negro;
  color: $color-blanco;
  width: 1050px;
  height: 80px;
  display: flex;
  justify-content: left;
}
.div-blanco {
  background-color: $color-blanco;
  color: $color-negro;
  width: 325px;
  height: 80px;
  display: flex;
  text-align: center;
}

.image-big {
  width: 1050px;
  border-radius: 10px;
}
.image-medium {
  width: 950px;
  border-radius: 10px;
}
.image-small {
  width: 325px;
  border-radius: 10px;
}
