@import "variables";

body {
  background-color: #ededed;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: left;
}
main {
  color: $color-negro;
  padding: 80px 180px 100px 80px;
}
nav {
  background-color: $color-negro;
  color: $color-blanco;
  display: flex;
  justify-content: center;
  height: 100px;
}
header {
  background-color: $color-amarillo;
  color: $color-negro;
  display: flex;
  justify-content: center;
  height: 100px;
}
article {
  padding: 80px 0px 80px 0px;
}
footer {
  color: $color-blanco;
  background-color: $color-gris;
  text-align: center;
  height: 150px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 15px;
}
p {
  font-size: 23px;
}
a:visited {
  color: $color-negro;
}
a:hover {
  color: $color-amarillo;
  background-color: $color-negro;
}

/*.flexbox {
  display: flex;
  flex-direction: row;
  flex: 200px;
}*/
.grid {
  display: grid;
  grid-row-gap: 250px;
  grid-column-gap: 330px;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
}
.article-big {
  display: flex;
  flex-direction: column;
  width: 950px;
}
.div-amarillo {
  margin-top: 80px;
  background-color: $color-amarillo;
  width: 300px;
  height: 80px;
  display: flex;
  justify-content: center;
}
.div-negro {
  background-color: $color-negro;
  color: $color-blanco;
  width: 1050px;
  height: 80px;
  display: flex;
  justify-content: left;
}
.div-blanco {
  background-color: $color-blanco;
  color: $color-negro;
  width: 300px;
  height: 80px;
  display: flex;
  justify-content: left;
}

.image-big {
  width: 1050px;
}
.image-medium {
  width: 950px;
}
.image-small {
  width: 300px;
}
