@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $color-blanco-gris;
  font-family: "Roboto", sans-serif;
  text-align: left;
  transition: 1s;
  background: $color-blanco-gris;
  background: -moz-linear-gradient(
    top,
    $color-blanco-gris 0%,
    $color-blanco-gris 77%,
    $color-blanco 100%
  );
  background: -webkit-linear-gradient(
    top,
    $color-blanco-gris 0%,
    $color-blanco-gris 77%,
    $color-blanco 100%
  );
  background: linear-gradient(
    to bottom,
    $color-blanco-gris 0%,
    $color-blanco-gris 77%,
    $color-blanco 100%
  );
}
nav {
  background-color: $color-negro;
  color: $color-blanco;
  text-shadow: 2px 2px 10px $color-verde;
  border-bottom: 8px groove $color-verde;
  height: 70px;

  img:hover {
    box-shadow: inset 1px 1px 100px $color-verde;
    border-radius: 12px;
    border-style: groove;
    border-color: $color-verde;
  }
  h1:hover {
    text-shadow: 2px 2px 10px $color-amarillo;
  }
}
header {
  background-color: $color-amarillo;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 0 0 10px 10px;
  box-shadow: 5px 5px 15px 5px $color-amarillo;
  a {
    color: $color-negro;
  }
}
main {
  color: $color-negro;
  padding: 90px 180px 140px 180px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
article {
  margin-bottom: 80px;
  max-width: 950px;
  h1 {
    font-size: 50px;
  }
}
footer {
  color: $color-gris;
  text-align: center;
  height: 150px;
  p {
    padding: 7px;
  }
}
iframe {
  border: none;
  height: 600px;
  width: 950px;
}
h1 {
  font-size: 38px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 19px;
}
p {
  padding: 20px 0px 30px 0px;
  font-size: 23px;
}
a {
  color: $color-verde;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
ul {
  font-size: 23px;
  padding: 15px 0px 15px 60px;
}

.border-verde {
  border-style: solid;
  border-color: $color-verde;
  border-radius: 8px 8px 8px 8px;
  border-left: none;
  border-right: none;
  border-width: 4px;
  box-shadow: inset 1px 1px 1px 10px $color-verde;
}
.flexbox-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container {
  margin-left: 400px;
  display: flex;
  align-items: center;
  max-width: 450px;
  max-height: 70px;
}
.div-big {
  margin-bottom: 100px;
  width: 1050px;
  @extend .border-verde;
  border-bottom: none;
}
.flexbox-main-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 56vw;
  max-height: 29vw;
  column-gap: 5px;
  row-gap: 5px;
  a {
    color: $color-negro;
  }
}
.children {
  max-width: 325px;
  margin: 0 15px 15px 15px;
  border: 10px 10px 10px 10px;
  @extend .border-verde;
}
.div-verde {
  background-color: $color-verde;
  color: $color-blanco;
  width: 1050px;
  height: 80px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 8px 8px;
  box-shadow: 0px -30px 0px 0px $color-naranja;
  &:hover {
    color: $color-blanco;
    text-decoration: underline;
  }
}
.div-blanco {
  background-color: $color-blanco;
  width: 325px;
  height: 80px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 8px 8px;
  box-shadow: 0px -30px 0px 0px $color-naranja;
}
.div-amarillo {
  margin-top: 80px;
  background-color: $color-amarillo;
  width: 300px;
  height: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.image-big {
  width: 1050px;
  border-radius: 8px 8px 0 0;
}
.image-medium {
  width: 950px;
  border-radius: 8px;
}
.image-small {
  width: 325px;
  border-radius: 8px 8px 0 0;
}
.image-icon {
  width: 40px;
  margin-left: 25px;
}
#logo {
  height: 50px;
}
