@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ededed;
  font-family: "Roboto", sans-serif;
  text-align: left;
  -webkit-transition: 1s;
  transition: 1s;
}

main {
  color: #0f1618;
  padding: 70px 180px 80px 180px;
  /*
  display: flex;
  flex-flow: column;
  align-items: center;
  */
}

nav {
  background-color: #0f1618;
  color: #ffffff;
  text-shadow: 2px 2px 3px #f3db01;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

header {
  background-color: #f3db01;
  color: #0f1618;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 5px 5px 15px 5px #f3db01;
          box-shadow: 5px 5px 15px 5px #f3db01;
}

article {
  margin-bottom: 80px;
  max-width: 950px;
}

footer {
  color: #ffffff;
  /* doesnt work*/
  background-color: #666;
  color: #0f1618;
  text-decoration: none;
  text-shadow: none;
  /* doesnt work*/
  text-align: center;
  height: 160px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 19px;
}

p {
  padding: 20px 0px 30px 0px;
  font-size: 23px;
}

a {
  color: #0f1618;
  text-decoration: none;
  text-shadow: 2px 2px 3px #f3db01;
}

a:visited {
  color: #0f1618;
}

a:hover {
  text-shadow: 1px 1px 10px #ffffff;
}

.container {
  border-style: solid;
  border-color: #f3db01;
  border-radius: 8px 8px 0 0;
  margin-bottom: 100px;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 250px;
  grid-column-gap: 310px;
  -ms-grid-columns: 50px 50px 50px;
      grid-template-columns: 50px 50px 50px;
  -ms-grid-rows: 50px 50px 0px;
      grid-template-rows: 50px 50px 0px;
}

.index-big-headliner {
  width: 1050px;
}

.div-negro {
  background-color: #0f1618;
  color: #0f1618;
  text-decoration: none;
  text-shadow: none;
  color: #ffffff;
  width: 1050px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  border-radius: 0 0 8px 8px;
  -webkit-box-shadow: 0px -30px 0px 0px #f3db01;
          box-shadow: 0px -30px 0px 0px #f3db01;
}

.div-blanco {
  background-color: #ffffff;
  color: #0f1618;
  text-decoration: none;
  text-shadow: none;
  width: 325px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 0 8px 8px;
  -webkit-box-shadow: 0px -30px 0px 0px #f3db01;
          box-shadow: 0px -30px 0px 0px #f3db01;
}

.div-amarillo {
  margin-top: 80px;
  background-color: #f3db01;
  width: 300px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-big {
  width: 1050px;
  border-radius: 8px 8px 0 0;
}

.image-medium {
  width: 950px;
  border-radius: 8px;
}

.image-small {
  width: 325px;
  border-radius: 8px 8px 0 0;
}

.image-icon {
  width: 45px;
}
/*# sourceMappingURL=main.css.map */